{% extends 'base.html' %}

{% block content %}
    <h2>Pendaftaran Peserta Didik Baru</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        <label for="username">Email (@gmail.com, @yahoo.com, @hotmail.com):</label>
        <input type="email" name="username" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Daftar">
    </form>
{% endblock %}
